$orange: #FF5700;
$black: rgb(43, 43, 43);

$title: "Merriweather Sans", Verdana, Geneva, Tahoma, sans-serif;

@mixin title-typo{
	font-family: $title;
	font-size: 2.45rem;
	font-weight: 600;
	font-style:italic;
	text-transform: uppercase;
	letter-spacing: 0.03rem;
	color: $black;
	padding:0;
	margin:0;
}

@mixin highlight{
	position:relative;
	&:after{
		content:"";
		position:absolute;
		width: 105%;
		height: 60%;
		bottom: 10%;
		right: 50%;
		transform: translateX(50%);
		background: rgba($orange, 0.60);
		z-index:-1;
	}
}