@import '../components/scss-resources/resources.scss';

.privacy {
    section {
        position: relative;
        padding: 20px 100px;
        &:first-of-type {
            padding-top: 100px;
        }
        &:last-of-type {
            padding-bottom: 100px;
        }
        .privacy-title {
            overflow-x: hidden;
            p {
                margin-top: 6rem;
                letter-spacing: 0.01em;
                font-weight: 600;
            }
        }
        p {
            padding-bottom: 10px;
            & > i {
                display: block;
                padding-bottom: 10px;
            }
        }
    }
}
