.redirecting{
	&-text{
		min-height: 40vh;
    font-size: 1.5rem;
    padding: 3rem 1rem 1rem;
    text-align: center;
	}
}

@media (max-width: 768px){
	.redirecting-text{
		img{
			display:none;
		}
	}
}