.redirecting {
    &-text {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 40.6vh;
        font-size: 1.5rem;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .redirecting-text {
        img {
            display: none;
        }
    }
}
