footer {
    height: 12.5rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    > p.footer-p {
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 1.25rem;
        color: white;
        text-align: center;
    }
    div {
        display: flex;
        position: relative;
        align-items: center;
        p {
            margin: 0;
        }
        a {
            font-size: 0.9rem;
            color: lightsteelblue;
            text-decoration: none;
        }
        select {
            margin-left: 1rem;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            outline: 0;
            box-shadow: none;
            border: 0 !important;
            background: white;
            background-image: none;
            flex: 1;
            padding: 0 0.5em;
            color: black;
            font-family: 'Montserrat', Arial, Helvetica, sans-serif;
            padding: 10px 20px 10px 30px;
            font-size: 1.1rem;
            border-radius: 2px;

            cursor: pointer;
            &:-ms-expand {
                display: none;
            }
        }
        &:after {
            content: '\25BC';
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);

            color: black;
            cursor: pointer;
            pointer-events: none;
        }
    }
}

@media (max-width: 900px) {
    footer {
        p {
            font-size: 0.9rem;
            text-align: center;
        }
    }
}
