footer{
	height: 12.5rem;
	width: 100%;
	margin: 0 auto;
	display:flex;
	align-items: center;
	justify-content: center;
	p{
		font-family: "Montserrat", Arial, sans-serif;
		font-size: 1.25rem;
		color: white;
	}
}

@media (max-width: 900px){
	footer{
		p{
			font-size: 0.9rem;
			text-align: center;
		}
	}
}