

#root{
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/ibukibg.jpg");
	background-size: cover;
	background-position: 70%;
	background-attachment: fixed;
	overflow: hidden;
}

.front-page{
	min-height: 100%;
}

.upper-wrapper{
	max-width: 1250px;
	margin: 0 auto;
	padding : 0 10px;
}

.page-title{
	margin: 6.875rem auto;
}

h1, h2{
	font-family: "Montserrat", Arial, sans-serif;
	color:white;
	font-size: 1.875rem;
	font-weight: normal;
	letter-spacing: 0.12em;
	text-align:center;
	padding-left: 0.5rem;
	position:relative;
	margin-top: -5rem;
	text-transform: uppercase;
}



h3.sub-title{
	font-family: "Merriweather Sans", Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	font-weight: 600;
	font-style:italic;
	font-size: 2.625rem;
	text-align: center;
	line-height: 0.98;
	letter-spacing: 0.04em;
	margin:0;
	padding-top: 0.75rem;
	margin-top: 1em;
}

.container{
	max-width: 1400px;
	padding: 0 10px;
	margin: 0 auto;
}


/// ON SMALL SCREENS

@media (min-width: 500px){
	h3.sub-title{
		font-size: 4rem;
		
	}
}

/// ON MED SCREENS

@media (min-width: 768px){
	header{
		background-position:center;
	}
	.front-page{
		min-height: calc(100vh - 80px);
	}
	.page-title{
		margin-bottom: 0;
	}
	h1, h2{
		text-align:left;
		padding-left: 1.5rem;
		margin-top: 0.67em;
		&:before{
			content:"";
			position:absolute;
			height: 3.75rem;
			width: 0.375rem;
			background-color: white;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 2px;
		}
	}

	h2{
		margin-bottom: 9.375rem;
	}
	
	h3.sub-title{
		font-size: 5.625rem;
		text-align: left;
		margin-top: 0;
	}
}


// DESKTOP FIRST

@media (max-width: 1250px){
	.upper-wrapper{
		max-width: 900px;
	}
	.container{
		max-width: 1000px;
	}
}

@media (max-width: 899px){
	.upper-wrapper{
		max-width: 700px;
	}
	.container{
		max-width: 800px;
	}
}